registry=https://artifactory.rewe.local/artifactory/api/npm/promotion-pricing-npm-all/
@rewe:registry=https://artifactory.rewe.local/artifactory/api/npm/npm/
@dsa:registry=https://artifactory.rewe.local/artifactory/api/npm/npm/
@psl:registry=https://artifactory.rewe.local/artifactory/api/npm/promotion-pricing-npm-all/
@cws:registry=https://artifactory.rewe.local/artifactory/api/npm/promotion-pricing-npm-all/
strict-ssl=false